.binary-input
  margin: 1em 0 2em 0

  .groups-wrapper
    display: flex
    justify-content: center
    align-items: top

  .bit-group
    display: flex
    flex-direction: column

    &.exponent
      background-color: #ddd

    .name
      margin: .2em
      font-size: 100%

    .input-wrapper, .value-wrapper
      display: flex
      flex-direction: row
      flex: 1

    .value-wrapper
      font-size: 200%

    .bit-input-wrapper, .bit-value-wrapper
      flex: 1
      text-align: center

  .bit-input
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      display: none
    -moz-appearance: textfield
    border-radius: 0
    font-size: 200%
    border: 1px solid gray
    border-bottom: 2px solid black
    border-top: none
    width: 100%
    background: none
    text-align: center
    font-family: monospace
